<h1>User一覧</h1>

<ul>
	<% @users.each do |user| %>
		<li><%= link_to user.name,user %></li>
	<% end %>
</ul>

<a href="/users/new">
<button class="medium" href="/user/new"><span class="icon medium gray" data-icon="p"></span>
<%#= link_to "new","/users/new" %>
new
</button>
</a>